<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/weather.css' />

    <script type="text/javascript" src="/javascripts/libs/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/modules/loader.js"></script>

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
